<!-- src/app/components/user-list/user-list.component.html -->
<div *ngIf="users.length > 0; else noUsers">
    <h2>Liste des utilisateurs</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.nom }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noUsers>
    <p>Aucun utilisateur trouvé.</p>
  </ng-template>
  