<div class="dialog-container">
  <h2 mat-dialog-title>{{ data.id ? 'Edit' : 'New' }} Company Insurance</h2>
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="insuranceForm">
      <!-- Company Information Section -->
      <div class="section-header">
        <mat-icon>business</mat-icon>
        <h3>Company Information</h3>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="companyName" required>
          <mat-error *ngIf="isFieldInvalid('companyName')">
            Company name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Industry Sector</mat-label>
          <input matInput formControlName="industrySector" required>
          <mat-error *ngIf="isFieldInvalid('industrySector')">
            Industry sector is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tax Registration Number</mat-label>
          <input matInput formControlName="taxRegistrationNumber" required>
          <mat-error *ngIf="isFieldInvalid('taxRegistrationNumber')">
            Tax registration number is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Head Office Address</mat-label>
          <textarea matInput formControlName="headOfficeAddress" required rows="3"></textarea>
          <mat-error *ngIf="isFieldInvalid('headOfficeAddress')">
            Head office address is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Business Details Section -->
      <div class="section-header">
        <mat-icon>domain</mat-icon>
        <h3>Business Details</h3>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Business Premises Size (sqm)</mat-label>
          <input matInput type="number" formControlName="businessPremisesSize" required>
          <mat-error *ngIf="insuranceForm.get('businessPremisesSize')?.hasError('required')">
            Premises size is required
          </mat-error>
          <mat-error *ngIf="insuranceForm.get('businessPremisesSize')?.hasError('min')">
            Premises size must be greater than 0
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Number of Employees</mat-label>
          <input matInput type="number" formControlName="numberOfEmployees" required>
          <mat-error *ngIf="insuranceForm.get('numberOfEmployees')?.hasError('required')">
            Number of employees is required
          </mat-error>
          <mat-error *ngIf="insuranceForm.get('numberOfEmployees')?.hasError('min')">
            Number of employees must be greater than 0
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Value of Professional Equipment</mat-label>
          <input matInput type="number" formControlName="valueOfProfessionalEquipment" required>
          <span matPrefix>$&nbsp;</span>
          <mat-error *ngIf="insuranceForm.get('valueOfProfessionalEquipment')?.hasError('required')">
            Value of equipment is required
          </mat-error>
          <mat-error *ngIf="insuranceForm.get('valueOfProfessionalEquipment')?.hasError('min')">
            Value must be greater than 0
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Insurance Details Section -->
      <div class="section-header">
        <mat-icon>security</mat-icon>
        <h3>Insurance Details</h3>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Premises Occupation Type</mat-label>
          <mat-select formControlName="premisesOccupationType" required>
            <mat-option *ngFor="let type of premisesOccupationTypes" [value]="type">
              {{ formatPremisesType(type) }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('premisesOccupationType')">
            Premises occupation type is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Type of Insurance Required</mat-label>
          <mat-select formControlName="typeOfInsuranceRequired" required>
            <mat-option *ngFor="let type of insuranceTypes" [value]="type">
              {{ formatInsuranceType(type) }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('typeOfInsuranceRequired')">
            Insurance type is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row security-system-row">
        <mat-checkbox formControlName="presenceOfSecuritySystem">
          Security System Present
        </mat-checkbox>
      </div>

      <div class="coverages-section">
        <h4>Insurance Coverage Options</h4>
        <div formGroupName="insuranceOptions" class="coverages-grid">
          <div *ngFor="let option of insuranceOptions" class="coverage-item">
            <mat-checkbox [formControlName]="option.key">
              {{option.label}}
            </mat-checkbox>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="insuranceForm.invalid" (click)="onSaveClick()">
      {{ data.id ? 'Update' : 'Create' }}
    </button>
  </mat-dialog-actions>
</div>
